.iconBg {
  &::before {
    content: '';
    display: inline-block;
    min-width: 2.4rem;
    height: 2.4rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &--avatar-placeholder {
    &::before {
      background-image: url('@assets/icons/avatarPlaceholder.svg');
    }

  }

}