:root {
  --color-dark-black: rgb(43, 43, 43);
  --color-white: rgb(255, 255, 255);
  --color-light-gray: rgb(59, 59, 59);
  --color-dark-purple: rgb(162, 89, 255);
  --color-light-purple: rgb(176, 122, 255);
  --color-dark-gray: rgb(131, 131, 131);
  --color-light-blue: rgb(133, 231, 255);
  --color-orange: rgb(255, 122, 89);
  --color-green: rgb(89, 255, 122);
}