.trending-collection {

  &__inner {
    margin-bottom: 6rem;
  }

  &__title {
    font-size: 3.8rem;
    font-weight: 600;
  }

  &__subtitle {
    font-size: 2.2rem;
  }

  &__list {
    display: flex;
    gap: 3rem;
  }
}