@import '../../styles/mixins';

.statistics {

  display: flex;
  flex-direction: column;

  &__count {
    @include fontFamily('Space Mono');
    font-size: 2.8rem;
    font-weight: 700;
  }

  &__text {
    @include fontFamily('Work Sans');
    font-size: 2.4rem;
    font-weight: 400;
  }
}