.logo {
  margin-right: auto;
  transition: transform 0.4s, opacity 0.4s, outline-color 0.4s, outline-offset 0.4s;
  outline: 1px solid transparent;

  &:hover {
    transform: scale(1.1);
  }

  &:focus {
    outline-color: var(--color-light-purple);
    outline-offset: 0.5rem;
  }

  &:active {
    transform: scale(0.9);
    opacity: 0.9;
  }
}