.button {
  border-radius: 2rem;
  padding: 2rem 5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  background-color: var(--color-dark-purple);
  width: fit-content;
  outline: 1px solid transparent;
  transition: transform 0.4s, opacity 0.4s, outline-color 0.4s, outline-offset 0.4s;

  &::before {
    width: 2rem;
    height: 2rem;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:focus {
    background-color: var(--color-light-purple);
  }

  &:active {
    transform: scale(0.9);
    opacity: 0.9;
  }

}