.header {
  padding: 3.4rem 5rem;
}

.menu {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    gap: 5rem;
    margin-right: 3rem;
  }

  &__item {
    font-weight: 600;
    border-bottom: 1px solid transparent;

    &.active {
      border-color: var(--color-light-purple);
    }
  }
}