.collection {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 22px;

  &__main-img {
    border-radius: 2rem;
    cursor: pointer;
  }

  &__inner {
    display: flex;
    gap: 1.5rem;
  }

  &__img {
    border-radius: 2rem;
    cursor: pointer;
  }

  &__count {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.2rem 1.6rem;
    min-width: 10rem;
    min-height: 10rem;
    font-weight: 700;
    border-radius: 2rem;
    background-color: var(--color-dark-purple);
    cursor: pointer;
  }

  &__title {
    font-weight: 600;
  }

  &__artist {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }
}